<launch>
	<group ns="w1">
	 	
		<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find w1bot_description)/urdf/w1bot.xacro'" />

		<!-- load the controllers  -->
	  	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	    output="screen" args="w1bot_state w1bot_base_controller --shutdown-timeout 0.1"/>
	  	
	 	<node pkg="w1bot_control" type="w1_ramps_node" name="ramps" output="screen" >
			<param name="rate" value="10" />			
	 	</node>	
	 	
	 	<!-- Load joint controller configurations from YAML file to parameter server -->
	  	<rosparam file="$(find w1bot_control)/config/ramps.yaml" command="load"/>

	</group>		
</launch>
